/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {color:#999; background-color:#000; line-height:1.8em; background-image: url(/assets/bck.jpg); padding:0; margin:0;}

h1 {
    font-family: 'The Girl Next Door', serif;
    font-size: 18px;
    font-weight: lighter;
    font-variant: normal;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center!important;
    letter-spacing: 0.3em;
}

.gradient {
    background-image: linear-gradient(bottom, rgb(157,163,173) 37%, rgb(118,118,120) 69%, rgb(97,90,97) 85%);
    background-image: -o-linear-gradient(bottom, rgb(157,163,173) 37%, rgb(118,118,120) 69%, rgb(97,90,97) 85%);
    background-image: -moz-linear-gradient(bottom, rgb(157,163,173) 37%, rgb(118,118,120) 69%, rgb(97,90,97) 85%);
    background-image: -webkit-linear-gradient(bottom, rgb(157,163,173) 37%, rgb(118,118,120) 69%, rgb(97,90,97) 85%);
    background-image: -ms-linear-gradient(bottom, rgb(157,163,173) 37%, rgb(118,118,120) 69%, rgb(97,90,97) 85%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.37, rgb(157,163,173)),color-stop(0.69, rgb(118,118,120)),color-stop(0.85, rgb(97,90,97)));
}

#container { text-align: center;}
#page { margin:auto; }
#sexywoman {border: 2px solid #000; margin-top: 35px;}

