/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {color:#999; background-color:#000; font-family:Questrial, "Helvetica Neue", Helvetica, arial, sans-serif; font-size:12px; line-height:1.8em; background-image: url(/assets/bck.jpg); padding:0; margin:0;}

h1, h2, h3, h4, h5, h6 {color:#fff; padding:0; margin:0;font-weight:lighter;font-family: Helvetica, arial;line-height:1.2em;}
h2 {font-size: 1.5em;}
h3 {font-size:1.2em; margin:1em 0 0 0;}
